body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: 'Open Sans', arial, sans-serif;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#283144+28,606c88+100,606c88+101 */
    background: #283144; /* Old browsers */
    background: -moz-linear-gradient(top,  #283144 28%, #606c88 100%, #606c88 101%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #283144 28%,#606c88 100%,#606c88 101%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #283144 28%,#606c88 100%,#606c88 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#283144', endColorstr='#606c88',GradientType=0 ); /* IE6-9 */
}

a {
	color: #4c6583;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #667F9D;
}

.twidget_container {
	max-width: 600px;
	min-width: 300px;
	margin: 2em auto;
	border: 1px solid #999999;
	border-radius: 5px;
	box-shadow: 0 0 -1px 2px #aaa;
}

.twidget_header {
	border-bottom: 1px solid #999999;
	padding: 1em;
	padding-top: 3em;
	background-color: #dddddd;
	height: 3em;
	position: relative;
}

.twidget_header:after {
	content: 'Twidget';
	font-family: 'Lobster Two', arial, sans-serif;
	font-style: italic;
	position: absolute;
	right: 1em;
	top: .5em;
	font-size: 2em;
	color: #4c6583;
}

.twidget_header input {
	font-size: 1.1em;
	padding: .5em;
	border: none;
	border-right: none;
	border-bottom-color: #ffffff;*/
	box-shadow: inset 0 0 -1px 3px #999999;
	width: 55%;
	margin-right: 0;
}

.twidget_header input:focus {
	outline: none;
}

.twidget_button {
	cursor: pointer;
	font-size: 1.1em;
	padding: .5em 1em;
	border: 1px solid #999;
	border-left: none;
	border: none;	
	background-color: #4c6583;
	color: #ffffff;
	transition: background-color .5s ease;
}

.twidget_button:hover {
	background-color: #667F9D;
}

.twidget_results {
	padding: 1em;
	min-height: 300px;
	position: relative;
	background-color: #f0f0f0;
}

.twidget_results p {
	font-weight: 300;
}

.twidget_pagination {
	height: 35px;
}

.twidget_pagination div:first-child {
	width: 50%;
	float: left;
}

.twidget_pagination div:last-child {
	float: right;
	width: 30%;
}

.twidget_pagination div:last-child div {
	width: 30%;
	height: 14px;
	line-height: 14px;
	float: right;
	text-align: center;
}

.twidget_pagination div:last-child div:first-child {
	width: 14px;
	height: 14px;
	float: right;
	text-align: left;
	cursor: pointer;
	position: relative;
}

.twidget_pagination div:last-child div:first-child:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 0 7px 14px;
	border-color: transparent transparent transparent #4c6583;
}

.twidget_pagination div:last-child div:first-child:hover:after {
	border-color: transparent transparent transparent #667F9D;
}

.twidget_pagination div:last-child div:last-child {
	width: 14px;
	height: 14px;
	text-align: right;
	cursor: pointer;
	position: relative;
}

.twidget_pagination div:last-child div:last-child:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 14px 7px 0;
	border-color: transparent #4c6583 transparent transparent;
}

.twidget_pagination div:last-child div:last-child:hover:after {
	border-color: transparent #667F9D transparent transparent;
}

.twidget_results .twidget_user_message {
	position: absolute;
	top: 4em;
	left: 50%;
	transform: translate(-50%);
	font-weight: bold;
	font-size: 2em;
	color: #dddddd;
}

.twidget_results .stream_tile {
	padding-top: 1.5em;
	border-top: 2px solid #e9e9e9;
	height: 120px;
}

.twidget_results .twidget_thumb {
	float: left;
	margin-right: 1em;
	width: 100px;
	height: 100px;
	background-size: cover;
	border: 1px solid #555555;
}

.twidget_results .stream_tile p span {
	font-weight: bold;
	color: #555555;
}

.twidget_results a {
	margin-bottom: .5em;
	margin-top: 0;
	line-height: .8em;
	font-size: 1.7em;
	display: inline-block;
	position: relative;
}

.twidget_results a.mature:after {
	content: 'mature';
	color: #000000;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: -55px;
	font-size: .65em;
	font-variant: small-caps;
	line-height: .65em;
}
