body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: 'Open Sans', arial, sans-serif;
}

.twidget_container {
	max-width: 600px;
	min-width: 300px;
	margin: 2em auto;
	border: 1px solid #999999;
	border-radius: 5px;
	box-shadow: 0 0 -1px 2px #aaa;
}

.twidget_header {
	border-bottom: 1px solid #999999;
	padding: 1em;
	background-color: #eeeeee;
	height: 75px;
}

.twidget_header input {
	font-size: 1.1em;
	padding: .5em;
	border: none;
	border-right: none;
	border-bottom-color: #ffffff;*/
	box-shadow: inset 0 0 -1px 3px #999999;
	width: 40%;
	margin-right: 0;
}

.twidget_header input:focus {
	outline: none;
}

.twidget_button {
	cursor: pointer;
	font-size: 1.1em;
	padding: .5em 1em;
	border: 1px solid #999;
	border-left: none;
	border: none;	
	background-color: #4c6583;
	color: #ffffff;
}

.twidget_results {
	padding: 1em;
	min-height: 300px;
	position: relative;
}

.twidget_pagination {
	height: 35px;
}

.twidget_pagination div:first-child {
	width: 50%;
	float: left;
}

.twidget_pagination div:last-child {
	float: right;
	width: 30%;
}

.twidget_pagination div:last-child div {
	width: 30%;
	height: 35px;
	float: right;
	text-align: center;
}

.twidget_pagination div:last-child div:first-child {
	width: 15%;
	height: 35px;
	float: right;
	text-align: left;
	cursor: pointer;
}

.twidget_pagination div:last-child div:last-child {
	width: 15%;
	text-align: right;
	cursor: pointer;
}

.twidget_results .stream_tile {
	padding-top: 1.5em;
	border-top: 2px solid #f0f0f0;
}

.twidget_results img {
	float: left;
	margin-right: 1em;
	max-width: 100px;
	padding-bottom: 1.5em;
}

.twidget_results h2 {
	margin-bottom: .5em;
	margin-top: 0;
	line-height: .8em;
}
